/*HomeTop*/
.home-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: auto;
    min-height: 122vh;
    transition: all 2s ease;
    position: fixed;
    width: auto;
    min-width: 100%;
    z-index: 1;

}

.home-item{
    height: auto;
}

.home-item.uno{
    background-color:red;
    flex:3;
    order:1
}
.home-item.dos{
    background-color:blue;
    flex:2;
    order:2
}
.home-item.tres{
    background-color:green;
    flex:1;
    order:3
}

@media(max-width: 1024px){
    .home-container{
        flex-direction: column;
    }
    .home-item.dos{
        order:1;
    }
    .home-item.uno{
        order:2;
    }
}

/*Botones*/

